# Git
.git
.gitignore

# IDE
.idea
*.iml
.vscode

# Maven
target/
!target/*.jar

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# GitHub
.github/

# Documentation
README.md
HELP.md
